.recipe-card {
    width: 280px; /* Set a width for the card */
    height: 340px;
    border: 1px solid #ddd; /* Give it a border */
    border-radius: 15px; /* Increase border radius */
    box-shadow: 0 0 10px rgba(0,0,0,0.15); 
    overflow: hidden; /* Ensure content doesn't spill outside the card */
    transition: transform .3s ease-in-out; /* Transition for hover effect */
    position: relative; /* Add this */
    display: flex;
    flex-direction: column;

    /* background: var(--white-200, #F5F2F2); */
  }
    
  .recipe-card:hover {
    transform: scale(1.03); /* Hover effect */
  }
    
  .recipe-img {
    width: 100%; /* Make the image take up the full width of the card */
    height: 200px; /* Set a fixed height */
    object-fit: cover; /* Ensure the image covers the space without distortion */
  }
    
  .recipe-title {
    margin: 15px; /* Add some margin */
    font-size: 14px; /* Reduce the title font size */
    text-align: left;
  }
  
  /* Start of new/modified styles */
  .recipe-details {
    list-style: none;
    padding: 0 20px;
    margin: 0;
    display: flex;
    justify-content: space-around;
    height: 60px;
    margin-top: auto;

    
  }
  
  .details-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .item-content {
    display: flex;
    align-items: center;
  }
  
  .value {
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #ff6600;

  }
  
  .title {
    font-size: 14px;
    color: #777;
  }
  .recipe-title-heart {
    display: flex;
    justify-content: space-between;
    padding: 0 20px; /* Add some horizontal padding */
    padding-bottom: 5px;
    flex-direction: row;
  }
  .heart-icon-button {
    right: 20px; /* Add this to align the button to the right */
    top: 220px; /* Adjust this to move the button up or down */
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.3s;  /* Add transition here */

}
  .heart-icon-button svg {
    font-size: 18px;
  }
  .clicked {
    transform: scale(1.1); /* makes the heart 30% larger */
    transition: transform 0.4s; /* makes it smoothly transition over 0.3 seconds */
}