

.about-div{
    margin: 0;
}

.landing-div {
    /* width: 100%; */
    min-height: 100vh;
    background-image: url(landing-img.png);

    background-size: cover;
    background-position: center;
    padding: 10px 10%;

    


}
.leaves-wrapper {


}

.paragraphs-button {
    justify-content: left;
    margin-left: 0%;
}

.landing-image {
    display: flex;
    justify-content: flex-end;
}

.hero-landing-img {
    max-width: 80%;
    max-height: 80%;
    margin-right: 50px;
    background-color: transparent;
}

.main-header{
  margin-top: 20%;
    font-size: 60px;
    text-align: left;
    color:#ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

.small-hero{
    font-size: 40px;

    color:#ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.searchRecipes {
    padding: 15px 40px; 
    font-size: 24px; 
    border: none;
    border-radius: 20px;
    background-color: #E07A5F;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

.searchRecipes:hover {
    background-color: #f49251;
}

.landing-image {
    display: flex;
    justify-content: flex-end;
    position: relative; /* Add relative positioning to the container */
  }
  
  .landing-image::before {
    content: "";
    position: absolute;
    bottom: -60px; /* Align the bottom of the half-circle with the bottom of the container */
    right: -50px; /* Adjust the horizontal position of the half-circle */
    width: 890px; /* Adjust the width of the half-circle */
    height: 950px; /* Adjust the height of the half-circle */
    background-color: #E07A5F;
    border-radius: 50% 0 0 50%; /* This will create a half-circle shape on the right side */
    z-index: -1; /* Push the half-circle behind the image */
    opacity: 0; /* Initially set the opacity to 0 */
    animation: fadeIn 1s ease-in forwards, slideIn 1s ease-in forwards;
  }

  @keyframes fadeIn {
    to {
      opacity: 1; /* At the end of the animation, set the opacity to 1 */
    }
  }
  
  @keyframes slideIn {
    to {
      right: 0px; /* At the end of the animation, position the half-circle at the left */
    }
  
  }

  
  .about-app {
    padding: 20px;
    text-align: center;
    display: flex;
    background: #ff7f50;
    height: 500px;
     
  }
  
  .about-app h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .about-app img {
    width: 300px;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  #features-title-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 2em 1em;
    text-align: center;
    background: #E07A5F;
    padding-bottom: 0;
  }
  #features-title{
    color: #ffffff;
    margin: 0;
  }

  /* Styling for the carousel blocks */

  
/* .block{
    margin: 30px;
} */

.benefits-and-features {
    

    /* justify-content: space-around; */
    /* max-width: 100%; */
    /* margin: 0 auto; */
}
  
.benefits-and-features {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    max-width: 100%;
    margin: 0 auto;
    align-items:end
  }
  
  .feature {
    /* flex-basis: calc(33.33% - 40px); Set the initial width with a margin between features */
    text-align: center;
    padding: 20px;
    margin: 10px; /* Add margin between features */
  }
  
  .feature i {
    font-size: 36px;
    color: #ff6600;
    margin-bottom: 10px;
  }
  
  .feature h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .feature p {
    font-size: 16px;
  }
  
  .img-search-1 {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 2%;
    /* border: 5px solid orange; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add the gray shadow */
  }
  
  .img-search-2 {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 2%;
    /* border: 5px solid orange; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .img-search-1 {
    transition: 1s ease;
    }
    
    .img-search-1:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
    }

    .img-search-2 {
        transition: 1s ease;
        }
        
        .img-search-2:hover{
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
        transition: 1s ease;
    }
    .mobile-img {
      display: none;
    }
  
  /* Media query for smaller screens  */
  @media only screen and (max-width: 768px){

    .feature {
      flex-basis: calc(50% - 40px); /* Show two features per row on smaller screens */
    }
      .hero-landing-img {
    display: none;
  }
  /* .mobile-img{
    display: block;
    z-index: -10;
    
  } */
  .landing-div {

    /* width: 100%; */
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url(homepage-mobile.png);
}
/* .main-header{
  font-size: 50px;
  text-align: left;
  color:#ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);


} */
.small-hero{
  font-size: 30px;
  color:#ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}
.paragraphs-button {
  justify-content: center;
  margin:  5%;
  margin-top: 70%;
  

}



  
    }