body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
  }
  nav .fa-solid{
    display: none;
}
.navbar {
  /* Your regular styles for the Navbar */
  height: 60px; /* Initial height of the Navbar before scrolling */
  transition: height 0.3s; /* Add a smooth transition for the height change */
}

.navbar.shrink {
  height: 40px; /* Adjust this height to your desired "shrink" height */
}


  .logo-image{
    height: 5%;
    width: 10vw;
    border-radius: 4px;
    background-size: cover;
    transition: all 0.3s ease;
  }
  .logo-image:hover{
    content: url("./CanKitchen_logo.png");
  }

  nav{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    padding: 10px 3%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 100;

}

nav ul li{
    display: inline-block;
    list-style: none;
    margin:  0px 12px;


}
nav ul li a{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    color: #414141;
    text-decoration: none;
    /* font-weight: bold; */
    font-size: 18px;
    position: relative;
    transition: color 0.3s ease;

}
nav ul li a:hover {
  color: #ff6600;
}

@media only screen and (max-width: 768px){
  .sidemenu {
    position: fixed;
    right: -300px;
    margin-top: 0;

    transition: right 0.5s ease-in-out;
  }

  .logo-image{
    height: 5%;
   width: 140px;
    border-radius: 4px;
    background-size: cover;
    transition: all 0.3s ease;
  }
 
  
  .sidemenu.open {
    right: 0;
  }

  nav .fa-solid{
   
      display: block;
      font-size: 25px;
  }
  nav ul{
    background-color: rgb(255, 255, 255);
      position: fixed;
      top: 0;
      right: -200px;
      width: 200px;
      height: 100vh;
      padding-top: 50px;
      z-index: 2;
      transition: 0.5s;
  }
  nav ul li{
      display: block;
      margin: 25px;

  }
  nav ul .fa-solid{
      position: absolute;
      top: 25px;
      left: 25px;
      cursor: pointer;

  }}