.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    border-radius: 8px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
    url("https://images.unsplash.com/photo-1543352634-a1c51d9f1fa7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2370&q=80"); /* Update the path to your image */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* This will keep the background fixed while scrolling the content */
    min-height: 100vh;
  }
  
  .register-container .form-box {
    max-width: 520px;
    padding: 24px 80px 36px 80px;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
  }
  .header {
    font-family: 'Questrial', sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 1.33;
    color: #3D405B;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-container {
    background-color: #f2f2f2;
    padding: 30px;
    border-radius: 30px;
    width: 500px;
  }
  .form-container .error {
    background: #fe5421;
    background: rgba(245, 41, 41, 0.1);
    color: rgba(245, 41, 41, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-family: 'Questrial', sans-serif;
  }
  
  .input-container {
    margin-bottom: 15px;
  }
  
  .email-input,
  .username-input,
  .firstname-input,
  .lastname-input,
  .password-input,
  .confirmpassword-input {
    display: flex;
    align-items: center;
  }
  
  .email-input .input,
  .username-input .input,
  .firstname-input .input,
  .lastname-input .input,
  .password-input .input,
  .confirmpassword-input .input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .icon-container {
    background-color: #d1d1d1;
    padding: 10px;
    border-radius: 4px;
  }
  
  .icon {
    color: #888;
  }
  
  .button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color:#E07A5F;;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #ff6600;
  }
  