/* RecipeDetails.css */

:root {
  --primary-color: #3D405B;
  --secondary-color: #E07A5F;
  --light-gray: #F2F2F2;
}

.recipe-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.details-value{
  color:#E07A5F;
  margin-left: 10px;
  font-size: 18px;
  font-weight: bold;
}
.back-button {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  background-color: transparent;
  border: 0px;
  margin-left: 30px;
}

.back-button:hover {
  cursor: pointer;
}

.recipe-image img {
  width: 100%;
  max-width: 900px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recipe-details-recipe-title {
  font-size: 40px;
  align-self: auto;
  text-align: center;
  color: var(--primary-color);
}

.recipe-title-divider {
  margin: 0 auto;
  width: 80%;
  height: 3px;
  border: 0px;
  background-color: var(--secondary-color);
}

.recipe-summary-container {
  display: flex;
  width: 100%;
  max-width: 800px;
  padding: 10px;
}

.recipe-summary {
  width: 100%;
  overflow-wrap: break-word;
  text-align: justify;
  color: var(--primary-color);
}

.serving-details {
  display: flex;
  flex-direction: row;
  column-gap: 50px;
}

.recipe-details-columns {
  display: flex;
  flex-direction: column;
  column-gap: 20px;
  width: 80%;
}

.recipe-details-col {
  flex-wrap: wrap;
  flex-basis: 100%;
}

@media (min-width: 768px) {
  .recipe-details-columns {
    flex-direction: row;
    justify-content: space-between;
  }

  .recipe-details-col {
    flex-basis: calc(50% - 20px);
  }
}

.ingredients h3 {
  margin-bottom: 10px;
  color: var(--primary-color);
}

.instructions {
  margin-top: 20px;
}

.instructions h3 {
  margin-bottom: 10px;
  color: var(--primary-color);
}

.ingredients-box{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.recipe-details-container-ingredients ul {
  list-style: none;
  padding-left: 0;
}

.recipe-details-container-ingredients li {
  position: relative;
  padding-left: 30px;
  line-height: 1.5;
}

/* Remove default checkbox styles */
.recipe-details-container-ingredients li input[type="checkbox"] {
  display: none;
}

/* Create a custom checkbox style */
.recipe-details-container-ingredients li label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  line-height: 1.5;
}

.recipe-details-container-ingredients li label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 1px;
  width: 20px;
  height: 20px;
  border: 2px solid #E07A5F; /* Border color for the unchecked checkbox */
  border-radius: 50%;
}

/* Style for the checked checkbox */
.recipe-details-container-ingredients li.checked label::before {
  background-color: #E07A5F; /* Background color for the checked checkbox */
}

.recipe-details-container-ingredients li label::after {
  content: "\2713"; /* Unicode checkmark character */
  position: absolute;
  left: 5px;
  top: -1px;
  font-family: "Font Awesome"; /* Use Font Awesome for the checkmark */
  font-size: 20px;
  text-align: center;
  color: #fff; /* Checkmark color for checked checkbox */
  display: none;
}

/* Style for the checked checkbox */
.recipe-details-container-ingredients li.checked label::after {
  display: block;
}


.recipe-details-container-ingredients label {
  cursor: pointer;
}

.instructions-container {
  display: flex;
  width: 80%;
}

.instructions ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.instructions li {
  position: relative;
  padding-left: 60px;
  line-height: 1.5;
  cursor: pointer;
}

.instruction-list li span {
  position: absolute;
  top: 2px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: 2px solid #E07A5F; /* Add border to the circular container */
  background-color: #E07A5F;
  border-radius: 100%;
  font-weight: 500;
  font-size: 14px;
  color: #FFFF;
}

.recipe-details-nutrition-facts-container{
  margin: 20px;
}

.instructions li.done {
  text-decoration: line-through;
  color: #999;
}

.view-full-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: transform 0.5s ease;
}

.view-full-button {
  width: 150px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  background-color: inherit;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s ease;
}

.view-full-container:hover {
  transform: scale(1.03);
}

.heart-and-title{

  display: flex;
  align-items: center;
}

.heart-div{

  margin-left: 40px;
}