/* ProductCard.css */

.recipe-card {
    width: 300px; /* Set a width for the card */
    border: 1px solid #ddd; /* Give it a border */
    border-radius: 15px; /* Increase border radius */
    box-shadow: 0 0 10px rgba(0,0,0,0.15); /* Add a shadow */
    overflow: hidden; /* Ensure content doesn't spill outside the card */
    /* padding: 20px; Add some padding inside the card */

    transition: transform .3s ease-in-out; /* Transition for hover effect */
  }
  
  .recipe-card:hover {
    transform: scale(1.03); /* Hover effect */
  }
  
  .recipe-img {
    width: 100%; /* Make the image take up the full width of the card */
    height: 200px; /* Set a fixed height */
    object-fit: cover; /* Ensure the image covers the space without distortion */
  }
  
  .recipe-title {
    font-size: 18px; /* Reduce the title font size */
    color: #333; /* Set the color */
    margin: 10px 0; /* Add some margin */
  }
  
  .recipe-info {
    display: flex; /* Display the info items in a row */
    justify-content: space-around; /* Space out the items evenly */
  }
  
  .info-item {
    display: flex; /* Display the icon and the text in a row */
    align-items: center; /* Vertically center align the icon and the text */
    font-size: 16px;
    color: #777;
    margin: 5px 0;
  }
  
  .info-item p {
    margin-left: 5px; /* Add some space between the icon and the text */
  }
  
  .info-item span {
    font-weight: bold; /* Make the numbers bold */
  }
  