.recipe-grid {
    margin-left: 40px;
   flex-wrap: wrap;
    display: flex; /* Change this to grid */
    /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); Adjust the minmax value according to the card's width */
    gap: 25px 15px; /* Gap for both rows and columns */
    align-items: start; /* Align items to the start of the grid cell */
}
