.recipe-grid {
    margin-left: 40px;
   flex-wrap: wrap;
    display: flex; /* Change this to grid */
    /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); Adjust the minmax value according to the card's width */
    gap: 30px 60px; /* Gap for both rows and columns */
    justify-content: center;
}
.recipe-grid a{
    text-decoration: none;
    color: inherit;
}
.recipe-grid a:visited {
  color: inherit;
}

.nextPage-buttons{

  margin-top: 20px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 768px){
  #IngredientSearchCard {
    background: var(--white);
    padding: 30px;
    line-height: 1.5;
    box-sizing: border-box;
    height: auto;
    width: auto;

  }

  .home-content {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
    flex-direction: column-reverse;

}
#buttons-container-wrapper {
  position: relative;
  overflow-y: hidden;
  max-height: 251px;
}


}


